html {
    background-image: url("images/panko1.jpeg"), url("images/panko2.jpeg"), url("images/panko3.jpeg");
    background-position: left, center, right;
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    font-family: 'Roboto', sans-serif;
    background-repeat: repeat-y, repeat-y, repeat-y;
    background-size: 33.3333%, 33.3333%, 33.3333%;
}

body {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    height: 100px;
}

p {
    text-align: center;
    position: relative;
    top: -75px;
}